
{% extends 'secretaria/layout.html' %}

{% load static %}

{% block title %}SdA: Cambiar contraseña {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3 mb-3">Cambiar contraseña</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 m-3 ">
            <div class="form-group">
                <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <ul class="text-muted small">
                    <li>La contraseña debe contener como mínimo 8 caracteres</li>
                    <li>Debe combinar números y letras</li>
                </ul>
                <input type="submit" class="btn btn-success shadow" value="Guardar">
                </form>
            </div>     
    </div>
</div>


{% endblock %}